/* NAVBAR SECTION */
.header {
    position: sticky;
    top: 0;
    max-width: 950px;
    z-index: 10;
}

.nav-container {
    background-color: #111A2780;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-item > a {
    font-size: 1.2em;
    font-weight: bold;
}

/* ABOUT ME SECTION */
.description {
    margin: 35px 0;
    font-size: 1.2em;
}

.contact-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-email > * {
    margin: 0 5px;
}

.contact-email .icon {
    width: 70px;
    height: auto;
    margin-left: 0;
}

.contact-email .input {
    width: 60%;
}

.contact-email .btn img {
    width: 40px;
    height: auto;
}

.social-links {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links .btn-round {
    margin: 0 5%;
}

.social-links .btn img {
    width: 32px;
    height: auto;
}

/* SKILLS SECTION */
.skills-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.sk-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 170px;
}

.sk-item p {
    display: inline;
    margin: 0;
    padding: 0 0 0 10px;
}

.sk-item img {
    width: 20px;
    height: 20px;
}

/* PROJECTS SECTION */
.project {
    margin: 25px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #334155;
    border-radius: 10px;
}

.project:first-child {
    margin-top: 0;
}

.project:last-child {
    margin-bottom: 0;
}

.project-image {
    width: 40%;
    margin-right: 20px;
}

.project-info {
    width: 60%;
    margin-left: 20px;
}

.project-info h3 {
    margin-top: 0;
}

.project-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.project-info .btn img {
    width: 40px;
    height: auto;
}

/* CONTACT SECTION */
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "name lastname"
        "email email"
        "message message"
        "button button";
    gap: 12px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input-container label {
    margin: 5px 0;
}

.form-input-container:first-child {
    grid-area: name;
}

.form-input-container:nth-child(2) {
    grid-area: lastname;
}

.form-input-container:nth-child(3) {
    grid-area: email;
}

.form-input-container:nth-child(4) {
    grid-area: message;
}

.form-input-container:last-child {
    grid-area: button;
    margin: auto;
}

/* MODAL */
.modal-container {
    width: 100%;
    height: 100dvh;
    background-color: #000A;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal-container.show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.modal {
    box-sizing: border-box;
    margin: auto;
    width: 80%;
    max-width: 500px;
    padding: 30px;
}

.modal-btn {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.modal-title, .modal-description, .modal-btn {
    margin: 0;
}

.modal-description {
    margin: 30px 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    body {
        margin: 0 15px;
    }

    section:last-child {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 750px) {
    .skills-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "lastname"
            "email"
            "message"
            "button";
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .header {
        display: none;
    }

    .contact-email .icon {
        display: none;
    }

    .project {
        flex-direction: column;
    }

    .project-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .project-info {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}